* {
    color: #4169E1;
}

div {
    width: 20px;
    height: 20px;
}

body {
    background-color: white;
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.hidden {
    background-color: beige;
}

.shown {
    background-color: white;
}

.bomb {
    background-color: brown;
}

#minesweeper-wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.red-text {
    color: #dc1919;
}
.green-text {
    color: #228B22;
}
.blue-text {
    color: #4169E1	;
}
.purple-text {
    color: rgb(99, 4, 99);
}